@import '~antd/dist/antd.css';

.app {
  width: 100vw;
  height: 100vh;
  margin: 0px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.content-message-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

.lmjj-logo {
  height: 7rem;
  width: 15rem;
}

a.return-lmjj-site {
  font-weight: bold;
  color: #fff;
}

.belt-list {
  align-self: flex-start;
  margin-top: 15px;
}

.belt-image {
  display: flex;
  align-items: stretch;
  align-self: center;
  margin-right: 35%;
  margin-left: 5%;
  align-self: stretch;
}

.belt-display {
  display: flex;
  justify-content: flex-start;
  align-content: stretch;
}

.item {
  margin-bottom: 1px;
}

.side-menu-trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 16px;
  cursor: pointer;
  transition: color .3s;
}

.side-menu-trigger:hover {
  color: #108ee9;
}

.logo {
  height: 32px;
  background: #333;
  border-radius: 6px;
  margin: 16px;
}

.ant-layout {
  width: 100vw;
  height: 100vh;
  margin: 0px;
}

/* Layout styling for login form */
.ant-layout-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

/* Prevent login form from wrapping on small screens */
.ant-form {
  display: flex;
  flex-wrap: nowrap;
}

.username {
  font-weight: bold;
  margin-right: 20px;
}

.login-action-text {
  margin-right: 10px;
  white-space: nowrap;
}
